apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "vocab-app.fullname" . }}-migrations-{{ .Release.Revision }}
  labels:
    app: migrations
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    metadata:
      labels:
        app: migrations
    spec:
      restartPolicy: Never
      containers:
      - name: migrations
        image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
        command:
          - sh
          - -c
          - |
            cd /app/apps/api
            npx prisma migrate deploy
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: {{ include "vocab-app.fullname" . }}-secrets
              key: database-url
      backoffLimit: 3
